ol.stepList,
ol.stepList li {
  all: unset;
  font-size: 1.1rem;
}

ol.stepList li {
  margin: 0;
  display: block;
  padding: 0.5rem;
}
ol.stepList li.active {
  cursor: pointer;
}
ol.stepList li.active:hover {
  text-shadow: 2px 2px 4px #ddd;
}

ol.stepList li.currentStep {
  color: rgb(0, 140, 255);
  font-weight: bolder;
}
