.cover {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 40vh;
  z-index: -1;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .data {
    display: block;
    overflow: hidden;
  }
  .avatar {
    display: block;
    position: absolute;
    bottom: 0.3em;
    left: 0.3em;
    border-radius: 50%;
    border: 5px rgb(34, 58, 92) double;
    width: 7em;
    height: 7em;
    overflow: visible;
  }
  .cardInfo {
    /* margin-top: -8%; */
    width: 100%;
    background-color: #000000;
  }
  .name {
    display: block;
    width: 100%;
    margin-left: 20%;
    font-size: 1.5em;
    text-align: center;
    color: rgb(189, 189, 189);
    font-weight: bolder;
    text-shadow: 0px 4px 10px #474747, -2px 3px 0px #0c0a1a,
      4px -3px 7px #413e42;
  }
  .cardLess,
  .cardMore {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;
    margin: 5% auto 0;
    padding: 10px;
  }
  .containerMax {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1018020805/thumb/1.jpg");
    background-size: cover;
    padding: 1em 0;
  }
  .about {
    font-weight: 1000;
    display: block;
  }
  .candidateInfo {
    font-weight: 700;
    margin-top: 1em;
  }
  .candidateData {
    display: block;
    margin-bottom: 1em;
    font-weight: 500;
    text-align: left;
  }
  .seeMore {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 913px) {
  .data {
    display: block;
    overflow: hidden;
  }

  .mainDisplay {
    padding-bottom: 0;
  }
  .avatar {
    display: block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    border-radius: 10%;
    border: 2px black groove;

    width: 10em;
    height: 10em;
    /* margin-top: 20%;
    margin-left: 2%; */
    z-index: 1;
  }
  .cardInfo {
    /* margin-top: 57%; */
    width: 100%;
    z-index: 2;
    background-color: #000000;
  }
  .name {
    display: block;
    width: 100%;
    /* margin-top: -60%;
    margin-left: 20%; */
    font-size: 1.5em;
    text-align: center;
    color: rgb(189, 189, 189);
    font-weight: bolder;
    text-shadow: 0px 4px 10px #000000, -2px 3px 0px #0c0a1a,
      4px -3px 7px #1c1221;
    z-index: 2;
  }
  .card {
    position: absolute;
    right: 0;
    bottom: 0%;
    background: hsla(0, 0%, 100%, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.171),
    1px 1px 1px hsla(0, 0%, 100%, 0.26);
    padding: 1rem 2rem;
    transition: all 800ms 0ms ease-in-out;
    overflow: hidden;
  }
  .cardLess {
    top: -5%;
    height: 1em;
    opacity: 0;
  }

  .cardMore {
    top: 0%;
    height: 40vh;
  
  }
  .containerMax {
    background-size: cover;
    padding: 1em 0;
  }

  .about {
    font-weight: 1000;
    display: block;
  }
  .candidateInfo {
    font-weight: 700;
    margin-top: 1em;
  }
  .candidateData {
    display: block;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: left;
  }
  .seeMore {
    position: absolute;
    top: 4rem;
    right: 0rem;
    width: 4em;
    height: 4em;
    background: #7e472d65;
    color: aliceblue;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, 0.171),
      1px 1px 1px hsla(0, 0%, 100%, 0.26);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 300ms 0ms ease-in-out;
  }
  .seeMore:hover {
    cursor: pointer;
  }
  /* .tableDiv {
    background-color: #000000;
    height: 100em;
    padding: auto 0;
    margin-top: -5%;
  } */
}
@media screen and (min-width: 913px) {
  .data {
    width: 70%;
    margin: 0 auto;
  }
  .cover {
    
    height: 50vh;

    z-index: -1;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
  .cardInfo {
    display: block;
    /* margin: 0 auto; */
    /* height: 15em; */
    z-index: 2;
    background-color: #000000f5;
    text-align: right;
    padding: auto 0;
  }
  .name {
    display: block;
    width: 100%;
    margin-left: -3em;
    font-size: 1.5em;
    text-align: right;
    color: rgb(189, 189, 189);
    font-weight: bolder;
    text-shadow: 0px 4px 10px #000000, -2px 3px 0px #0c0a1a,
      4px -3px 7px #1c1221;
    z-index: 2;
  }
  .avatar {
    position: absolute;
    bottom: 0.7em;
    left: 0.7em;
    display: block;
    border-radius: 5%;
    border: 2px black groove;
    width: 14em;
    height: 14em;
    
    /* margin-bottom: 5%; */
    overflow: visible;
    z-index: 1;
    transition: all 300ms 0ms ease-in-out;
  }
  .avatar:hover {
    -ms-transform: scale(1.01); /* IE 9 */
    -webkit-transform: scale(1.01); /* Safari 3-8 */
    transform: scale(1.09);
    /* width: 17em;
    height: 17em; */
    /* margin-bottom: 3%; */
  }
  .containerMax {
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    /* margin: -5em auto; */
    padding: 3em 1em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;
    /* max-width: 70%;
    margin: 0 auto; */
  }
  .cardLess,
  .cardMore {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1em;
  }

  .about {
    font-weight: 1000;
    display: block;
  }
  .candidateInfo {
    font-weight: 700;
    margin-top: 1em;
  }
  .candidateData {
    display: block;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: left;
  }
  .seeMore {
    display: none;
  }
}
