.table {
  margin-top: 3rem;
  border: hsl(0, 0%, 53%) solid 2px;
  border-radius: 50px;
}
.th {
  border-radius: 0px;
  background: hsl(216, 45%, 25%);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: none;
}
.passed {
  color: #2c876d;
}
.declined {
  color: #872c2c;
}

.tr:nth-child(even) {
  border-radius: 0px;
  background: hsl(216, 11%, 36%);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.tr:nth-child(odd) {
  border-radius: 0px;
  background: hsl(50, 25%, 25%);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
