* {
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  .table {
    margin: 1rem auto;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.144);
    width: 90%;
  }

  .th > tr > th {
    font-size: 1em;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
    padding: 0.3em;
  }
  .th > tr > th:first-child {
    border-top-left-radius: 10px;
  }
  .th > tr > th:last-child {
    border-top-right-radius: 10px;
  }
  .tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
  }
  .tr:last-child > td:last-child {
    border-bottom-right-radius: 10px;
  }
  .passed {
    color: #2c876d;
  }
  .declined {
    color: #872c2c;
  }
  .tr > td {
    padding: 0.3em;
    font-weight: 700;
  }

  .tr:nth-child(even) {
    background: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 27%);
  }
  .tr:nth-child(odd) {
    background: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 27%);
  }
  .eyeFill:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 481px) and (max-width: 913px) {
  .tableContainer {
    background-image: url("https://ak.picdn.net/shutterstock/videos/1018020805/thumb/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px;
    max-width: 100%;
    margin: 0 auto;
  }
  .table {
    margin: 10% 0;
    padding: 50% auto;
    background: #c7c7c7;
    box-shadow: -2px -2px 11px #e3e3e3, 2px 2px 11px #ababab;
    width: 100%;
  }

  .th > tr > th {
    font-size: 1em;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
    padding: 0.5em;
  }
  .tr > td {
    padding: 0.5em;
    font-weight: 700;
  }

  .passed {
    color: #2c876d;
  }
  .declined {
    color: #872c2c;
  }

  .tr:nth-child(even) {
    background: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 27%);
  }
  .tr:nth-child(odd) {
    background: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 27%);
  }
  .eyeFill:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 913px) {
  .table {
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.192);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.144);
  }

  .th > tr > th {
    font-size: 1em;
    color: #fff;
    /* line-height: 1.4; */
    background-color: #6c7ae0;
    padding: 0.7em;
  }
  .tr > td {
    padding: 0.7em;
    font-weight: 700;
  }
  .th > tr > th:first-child {
    border-top-left-radius: 10px;
  }
  .th > tr > th:last-child {
    border-top-right-radius: 10px;
  }
  .tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
  }
  .tr:last-child > td:last-child {
    border-bottom-right-radius: 10px;
  }
  .passed {
    color: #2c876d;
  }
  .declined {
    color: #872c2c;
  }

  .tr:nth-child(even) {
    background: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 27%);
  }
  .tr:nth-child(odd) {
    background: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 27%);
  }
  .eyeFill:hover {
    cursor: pointer;
  }
}
