ol.stepList,
ol.stepList li {
  all: unset;
}

ol.stepList li {
  margin: 0;
  display: block;
  padding: 0.5rem;
  font-size: 1.1rem;
  /* font-weight: lighter; */
}

ol.stepList li.currentStep {
  color: rgb(0, 140, 255);
  font-weight: bolder;
}
