.optionCard {
  border: 1px solid #999;
  border-radius: 0.3rem;
  max-width: 100vw;
  width: 25rem;
  min-height: 5rem;
  display: flex;
  flex-flow: row nowrap;
  margin: 0.6rem;
  word-break: break-all;
  padding: 0;
}

.selected {
  border-color: dodgerblue;
  border-width: 2px;
  background-color: rgba(30, 143, 255, 0.11);
}

.cardImg {
  width: 4rem;
  max-width: 100%;
  margin: 0.3rem;
}

.info {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-basis: 70%;
}
