.Header {
  margin: 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  height: 4rem;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: lighter;
}
.Header a {
  text-decoration: none;
  color: inherit;
}
.Header a:hover {
  color: inherit;
}
.Menu {
  display: flex;
}
.Menu a,
.Menu button,
.Menu a button {
  background: transparent;
  /* border: 1px solid white; */
  border: none;
}
Menu a button,
.Menu button:hover {
  background-color: #333;
  border: 1px solid white;
}
