.animated {
    position: absolute;
    top: 470px;
    left: 15%;
    right: 15%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    opacity: 0;
    transition: all 800ms 0ms ease-in-out;
}
.fixed {
    position: absolute;
  top: 170px;
  left: 15%;
  right: 15%;
  width: 70%;
  margin: 0 auto 10%;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 1;
  transition: all 1s 0ms ease-in-out;
}